* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 618px;
    height: 658px;
    background: white;
    position: relative;
}

div.img {
    width: 204px;
    height: 270px;
    background: white;
    border: 1px solid transparent;
    box-shadow: 0 0 1px 1px rgba(198, 198, 198, 0.7);
    cursor: pointer;
}

img {
    height: 200px;
    width: 190px;
    margin: 8px;
}

div.img p {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    font-family: "Dancing Script";
}

.content .london {
    position: absolute;
    top: 70px;
    right: 238px;
    z-index: 0;
}

.content .london:hover {
    z-index: 4;
}

.content .vence {
    position: absolute;
    top: 145px;
    right: 126px;
    transform: rotate(20deg);
    z-index: 3;
}

.content .vence:hover {
    z-index: 4;
}

.content .los-angeles {
    position: absolute;
    top: 240px;
    left: 92px;
    transform: rotate(-10deg);
    z-index: 2;
}

.content .los-angeles:hover {
    z-index: 4;
}

.content .berlin {
    position: absolute;
    bottom: 89px;
    right: 153px;
    transform: rotate(-5deg);
    z-index: 1;
}

.content .berlin:hover {
    z-index: 4;
}